@font-face {
  font-family: 'FINALFANTASY LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('FINALFANTASY LOGO FONT'), url('finalf.ttf') format('truetype');
}

h1 {
  font-family: 'FINALFANTASY LOGO FONT';
  font-weight: 2000;
  color: black;
  text-align: center;
  border-bottom-style: solid;
}

body {
  /*background-color: #E6FEDB;*/
  background: radial-gradient(circle, rgba(243,251,238,0.9976191160057774) 0%, rgba(210,207,184,1) 100%);
}