@font-face {
  font-family: 'FINALFANTASY LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('FINALFANTASY LOGO FONT'), url('finalf.ttf') format('truetype');
}

h1 {
  font-family: 'FINALFANTASY LOGO FONT';
  font-weight: 2000;
  color: black;
  text-align: center;
  border-bottom-style: solid;
}

#container {
  height: 100%;
}

.toppanel {
  border-color: yellow;
  border-style: solid;
  height: 5vh; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.searchbox {
  padding-right: 10px;
}

.statpanel {
  border-color: red;
  border-style: solid;
  height: 25vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.equipmentpanel {
  border-color: green;
  border-style: solid;
  height: 29vh; 
  display: flex;
  align-items: center;
  justify-content: center;  
}

.materiapanel {
  border-color: black;
  border-style: solid;
  height: 13vh; 
  display: flex;
  align-items: center;
  justify-content: center;  
}

.esperpanel {
  border-color: blue;
  border-style: solid;
  height: 9vh; 
  display: flex;
  align-items: center;
  justify-content: center;  
}